.PostUser-medals {
  display: inline-block;
  text-align: center;
  z-index: 99;
}

.PostUser-medals .tooltip-inner {
  background-color: transparent;
}

.SeedBonusModal {
  .Form-group {
    margin-bottom: 20px;
  }
  .checkbox {
    margin-bottom: 12px;

    strong {
      display: block;
      color: @text-color;
    }
  }
}

@media (max-width: 768px) {
  .Modal-content {
    min-height: auto;
  }

  //.PostUser-medals {
  //  float: right;
  //  position: relative;
  //  margin-top: -10px;
  //  width: 64px;
  //  text-align: left;
  //}
}
